<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">New recipe</button>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <!-- <app-recipe-item></app-recipe-item> -->
        <a href="#" *ngFor="let recipe of recipes" class="list-group-item clearfix">
            <div class="pull-left">
                <h4 class="list-group-item-heading">{{recipe.name}}</h4>
                <p class="list-group-item-test">{{recipe.description}}</p>
                <span class="pull-right">
                    <img [src]="recipe.imagePath"  class="img-responsive" style="max-height: 50px">
                </span>
            </div>
        </a>
    </div>
</div>
